# https://EditorConfig.org
#
# ホーム直下に置く既定値。リポジトリ側に .editorconfig があればそちらが勝つ。
# 2026-08-15: `trim_traililng_whitespace` と綴りを間違えていて、末尾空白の除去が
# 一度も効いていなかった。EditorConfig は知らないキーを黙って無視するので、
# 間違いに気づく機会が無い。あわせて editorconfig.org のサンプルから写した
# ままだった節(lib/**.js、.travis.yml)を落とした。

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[*.py]
indent_size = 4

[Makefile]
indent_style = tab

[*.{c,cpp,h,hpp}]
indent_size = 4
